*{
  font-family: Ubuntu !important;
}

body{
  padding-top: 80px;
  background-color: #fff;
}

a{
  color: #dce0e1; /*#bdc3c7;*/
}

a:hover{
  text-decoration: none;
  color: #3498db;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1{
  font-weight: 700;
}

p, blockquote, code, pre{
  font-size: 18px;
  line-height: 27px;
  font-weight: 100;
}

p{
  color: #4f5c5d;
  margin-bottom: 18px;
}

.site{
  max-width: 760px;
  margin: 0 auto;
}

.block-text{
  margin-bottom: 80px !important;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -1px;
  color: #bdc3c7;
  line-height: 1.15em;
  border-left: 7px solid #5dace2;
  padding-left: 14px;
}


.block-text .imp{
  color: #2c3e50;
}

.block-text .loc{
  color: #2ecc71;
}

.block-text .twi{
  color: #e74c3c;
}

.block-text .git{
  color: #f1c40f;
}

.block-text .org{
  color: #F06627;
}

.block-text .alp{
  color: #157CC7;
}

.block-text .iz{
  color: #46A293;
}

.block-text .dznly{
  color: #815392;
}

.block-text .yc{
  color: #ff6600;
}

.block-text .density{
  color: #8DCBED;
}

.p2{
  color: #bdc3c7;
}

.p3{
  color: #95a5a6;
}

.article{
  margin-bottom: 80px;
  max-width: 640px;
}

.article h1{
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 2.5em;
  color: #2c3e50;
}

.article a{
  color: #3498db;
}

.article a:hover{
  color: #5dace2;
}
