{% extends "base.html" %}
{% load markup %}
{% block content %}
    <div class="row">
        <div class="span6 offset3">
            <h3>Jordan Messina</h3>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3" style="text-align:center;">
            <img src="/img/me.png" width="220" height="220" alt="Jordan Messina" title="Jordan Messina">
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
            <p>Hi. I'm Jordan. I enjoy programming (nerd alert). My language of choice is <a href="http://www.python.org/">Python</a>. I've been involved with a number of startups in the past, including <a href="https://www.google.com/search?q=deviceknit">one that no longer exists</a>, <a href="http://bibme.com">one that got acquired</a>, and <a href="http://insurancezebra.com">one that just raised a lot of money</a>. I'm currently working on my own company, <a href="http://forgesimple.com">Forge</a>. I also help with the <a href="http://pghpython.org/">Python Users Group</a> in Pittsburgh, PA. Sometimes I like to <a href="http://startupsketches.tumblr.com/">sketch</a> other startup's logos. You can find me other places on the web by going to the sites linked to in the top right of this site.</p>
        </div>
    </div>
{% endblock %}
