<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="js flexbox hashchange rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent wf-actadisplay-n7-active wf-actadisplay-n4-active wf-freightsanspro-n4-active wf-freightsanspro-n7-active wf-keplerstd-i4-active wf-keplerstd-n7-active wf-keplerstd-n4-active wf-keplerstd-n3-active wf-sourcecodepro-n4-active wf-active">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0">
            <meta name="viewport" id="viewport-iphone5" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
            <meta property="og:site_name" content="Jordan Has a Blog - Jordan Messina's thoughts">
            <title>{% block title %}Jordan Has a Blog{% endblock %}</title>
            <link href="/favicon.png" rel="icon">
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href="/css/site.css" rel="stylesheet">
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-4330805-1']);
              _gaq.push(['_setDomainName', 'jordanmessina.com']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            
            </script>
            <script src='http://cdn.wizzywig.io/changes/1.js' type='text/javascript'></script>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="row" style="margin-bottom: 70px;margin-top:10px;">
                <div class="span6 offset3">
                    <div style="text-align: center;">
                        <a href="/archives">Jordan Has a Blog</a> - my brain on the web.
                    </div>
                </div>
                <div class="span3">
                    <div style="float:right;">
                        <a href="/about">?</a>&nbsp;
                        <a href="http://feeds.feedburner.com/JordanHasABlog"><img height="25px" width="25px" src="/img/rss.png" border="0"></a>
                        <a href="http://github.com/jordanmessina"><img height="25px" width="25px" src="/img/github.png" border="0"></a>
                        <a href="http://twitter.com/jordanmessina"><img height="25px" width="25px" src="/img/twitter.png" border="0"></a>
                        <a href="http://linkedin.com/in/jordanmessina"><img height="25px" width="25px" src="/img/linkedin.png" border="0"></a>
                    </div>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </div>
        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block before_end_body %}{% endblock %}
    </body>
</html>
