<div style="float: right; position: relative; height: 30px;">
    <a href="http://github.com/jordanmessina" titie="Jordan on github" class="picture-links"><img height="25px" width="25px" src="/images/github.png" border="0"></a>
    <a href="http://twitter.com/jordanmessina" titie="@jordanmessina on Twitter" class="picture-links"><img height="25px" width="25px" src="/images/twitter.png" border="0"></a> 
    <a href="http://facebook.com/jordanmessina" titie="Jordan on Facebook" class="picture-links"><img height="25px" width="25px" src="/images/facebook.png" border="0"></a> 
    <a href="http://www.linkedin.com/in/jordanmessina" title="Being Professional on LinkedIn" class="picture-links"><img height="25px" width="25px" src="/images/linkedin.png" border="0"></a> 
    <a href="{{ site.subscribe_rss }}" title="Jordan Has a Blog RSS 2.0 (XML) Feed" class="picture-links"><img height="25px" width="25px" src="/images/rss.png" border="0"></a> 
</div>

{% include custom/navigation.html %}
