<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-4330805-1']);
          _gaq.push(['_setDomainName', 'jordanmessina.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
        <div class="site">
            <div class="block-text">
                Hey, I'm <a href="/" class="imp">Jordan Messina.</a> Previously, I was co-founder at <a href="http://insurancezebra.com" class="iz">Insurance Zebra</a> (<a href="http://alphalab.org" class="alp">Alphalab</a>) and co-founder at <a href="http://designly.com" class="dznly">Designly</a> (<a href="http://ycombinator.com" class="yc">Y Combinator</a>). Find me on <a href="http://github.com/jordanmessina" class="git">Github</a>, <a href="http://twitter.com/jordanmessina" class="twi">Twitter</a> and <a href="https://news.ycombinator.com/user?id=jordanmessina" class="yc">Hacker News.</a>
            </div>
     
                {{ content }}

            <div class="footer">
                <div class="block-text block-text-small">
                  <span class="imp">Blog posts:</span> 
                  {% for post in site.posts %}<a class="p{{ post.popularity }}" href="{{ post.url }}">{{ post.title }}</a> . {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
